# Python and system files
build/
dist/
examples/external-data
Clinica.egg-info
*egg-info
*.log
*.lock
*.pyc
*.o
*.lib
*.sys
*.so
.DS_Store
*.swp

# Editor's files
.idea
.vscode

# Code coverage and crash log files
.coverage
crash*

# Pytest files
.pytest_cache/
clinicaaddl/tests/data/models
clinicaaddl/tests/data/dataset
clinicaaddl/tests/data/tsvtool_test

# Notebook jupyter
.ipynb_checkpoints/
clinicaaddl/notebooks/

# Mask and other files
clinicaaddl/clinicaaddl/resources/masks/*.nii
clinicaaddl/clinicaaddl/resources/masks/*.nii.gz

#logs
clinicaaddl/scripts/logs
