# Project information
site_name: ClinicaDL Documentation
site_author: ClinicaDL contributors
site_url: https://clinicadl.readthedocs.io/
site_description: >-
  Framework for the reproducible classification of Alzheimer's disease
  using deep learning

# Repository
repo_name: aramislab/AD-DL
repo_url: https://github.com/aramis-lab/AD-DL
#edit_uri: master/edit/doc

# Copyright
copyright: Copyright &copy; 2020 ClinicaDL contributors

# Google Analytics
google_analytics:
  - UA-106080699-1
  - auto

# Configuration
theme:
  name: material
  custom_dir: docs/overrides
  icon:
    repo: material/github
  language: en
  palette:
    primary: green
    accent: green

# Version panel
extra_javascript:
  - 'https://code.jquery.com/jquery-3.3.1.min.js'

# Customization
extra:
  feature:
    tabs: true
  social:
    - icon: material/github
      link: https://github.com/aramis-lab/
    - icon: material/twitter
      link: https://twitter.com/clinica_run
    - icon: material/earth
      link: http://www.aramislab.fr
  version:
    default: stable


# Extensions
markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      permalink: True

# Page tree
nav:
  - Home: index.md
  - Installation: Installation.md
  - Prepare your imaging data:
    - Introduction: Preprocessing/Introduction.md
    - t1-linear pipeline: Preprocessing/T1_Linear.md
    - t1-extensive pipeline: Preprocessing/T1_Extensive.md
    - extract tensors: Preprocessing/Extract.md
    - quality check: Preprocessing/QualityCheck.md
  - Random Search: RandomSearch.md
  - Train:
    - Introduction: Train/Introduction.md
    - Image-based: Train/Image.md
    - Patch-based: Train/Patch.md
    - Slice-based: Train/Slice.md
    - ROI-based: Train/ROI.md
    - JSON defined: Train/Retrain.md
    - Custom experiment: Train/Custom.md
    - Implementation details: Train/Details.md
  - Classify: Classify.md
  - Interpret: Interpret.md
  - Generate: Generate.md
  - TSV Tools: TSVTools.md
