################  Requirements for installation  ######################
##### DL Pipeline ####
##### Requirements with Version Specifiers ######
##  Other requirements different from these of Clinica ##

#nipype==0.12.1
nilearn==0.5.0
#pytorch==1.0.0
#tensorflow==1.4.1
nipy
tensorboardX
