################  Requirements for installation  ######################
##### DL Pipeline ####
##### Requirements with Version Specifiers ######
##  Other requirements different from these of Clinica v0.1.3 ##

#nipype==0.12.1
nilearn==0.3.1
#pytorch==1.0.0
#tensorflow==1.4.1
nipy==0.4.2
